<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:/dtd/mybatis-3-mapper.dtd" >
        
<mapper namespace="app.mapper.sap.OworMapper">
	<select id="getList" resultType="map">
	    SELECT 
	    	*
    	FROM 
    		OWOR
	</select>
</mapper>

